@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tracker {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
    background: url('images/pattern-bg.png');
    background-size: cover;
}

.tracker h1 {
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.tracker > .search > input {
    width: 400px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    font-size: 18px;
    padding-left: 1rem;
}

.tracker > .search > button {
    background-color: #000;
    height: 51px;
    width: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -3px;
    cursor: pointer;
}

.tracker > .search > button:hover {
    background-color: var(--very-dark-gray);
}

.info-div {
    width: 70%;
    min-height: 150px;
    box-shadow: 1px 1px 20px var(--very-dark-gray);
    margin: 3.5rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    z-index: 800;
}

.info-element {
    padding-top: 1rem;
    padding-left: 1.5rem;
    height: 70%;
}

.info-element > h3 {
    color: var(--dark-gray);
    font-size: 14px;
    letter-spacing: 1px; 
    font-weight: 500;
    padding-bottom: 0.5rem;
}

.info-element > p {
    color: #000;
    font-weight: 500;
    font-size: 28px;
}

.info-element-border {
    border-right: 1px solid var(--dark-gray);
}

#map {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .info-div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 90%;
        min-height: 500px;
        text-align: center;
    }

    .info-element-border {
        border-right: none;
    }

    .tracker > .search > input {
        width: 350px;
        height: 50px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        font-size: 18px;
        padding-left: 1rem;
    }
}